<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        layout:decorate="~{template}">

<head>
    <meta charset="UTF-8">
    <title>Eka-Hospital</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
    body{
        background-color: #F5EEF8 ;
        padding: 0px;
        margin: 0px;
    }

    #gradient
    {
        width: 100%;
        height: 800px;
        padding: 0px;
        margin: 0px;
    }
</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
</head>
<body>
<div id="gradient" />
</body>
<div layout:fragment="content1">
<div class="container mt-2">
    <div class="card-header">Liste des patiens</div>
    <div class="card-body">
        <form method="get" th:action="@{/user/index}">
            <label>Key word</label>
            <input type="text" name="keyword" th:value="${keyword}">
            <button type="submit" class="btn btn-primary">Chercher</button>

        </form>
        <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Date</th>
            <th>Malade</th>
            <th>Score</th>
            <th>Action</th>



        </tr>
        </thead>
        <tbody>
        <tr th:each="p:${ListPatients}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.nom}"></td>
            <td th:text="${p.dateNaissance}"></td>
            <td th:text="${p.malade}"></td>
            <td th:text="${p.score}"></td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <a onclick="return confirm('Etes vous sure ?')" class="btn btn-danger" th:href="@{/admin/delete(id=${p.id},keyword=${keyword},page=${currentPage})}">Delete</a>
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <a  class="btn btn-success" th:href="@{/admin/editPatient(id=${p.getId()},keyword=${keyword},page=${currentPage})}">Edit</a>
            </td>
        </tr>
        </tbody>
        </table>
        <ul class="nav nav-pills">
            <li th:each="page,status:${pages}">
                <a th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}" th:text="${status.index}"
                th:href="@{/user/index(page=${status.index},keyword=${keyword})}"
                ></a>
            </li>
        </ul>
    </div>
</div>
</div>
</body>
</html>